<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      href="https://cdn.glitch.global/9a5417db-bb1a-4800-b72a-a85bd7bcfce3/SnapSort4.png?v=1681151222606"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Import bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
      crossorigin="anonymous"
    ></script>
    <title>Registro en SnapSort</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div
      class="container h-100 d-flex flex-column align-items-center justify-content-center"
    >
      <div class="rounded col-6 bg-light card p-4" style="--bs-bg-opacity: .9;">
        <div class="card-body">
          <a href="/">
            <img
              src="https://cdn.glitch.global/9a5417db-bb1a-4800-b72a-a85bd7bcfce3/SnapSort3.png?v=1681311768618"
              width="100rem"
              class=" aling-self-center"
            />
          </a>
          <h1 class=" py-2"> Regístrate </h1>
          <form method="POST" action="/signup">
            <div class="form-outline mb-4">
              <input
                type="text"
                id="usernameInput"
                name="username"
                class="form-control {{#if errorUsername}} is-invalid{{/if}}"
                required
                placeholder="Nombre de usuario*"
                value= "{{#if username}}{{username}}{{/if}}"
              />
              {{#if errorUsername}}
              <div class="invalid-feedback">
                {{errorUsername}}
              </div>
            {{/if}}
            </div>
            <div class="row">
              <div class="form-outline col mb-4">
                <input
                  type="text"
                  id="nameInput"
                  name="name"
                  class="form-control"
                  placeholder="{{#if name}}{{name}}{{else}}Nombre{{/if}} "
                  value= "{{#if name}}{{name}}{{/if}}"
                />
              </div>
              <div class="form-outline col mb-4">
                <input
                  type="text"
                  id="lastnameInput"
                  name="lastname"
                  class="form-control"
                  placeholder="Apellidos "
                  value= "{{#if lastname}}{{lastname}}{{/if}}"
                />
              </div>
            </div>
            <div class="form-outline mb-4">
              <input
                type="text"
                id="emailInput"
                name="email"
                class="form-control"
                placeholder="Email"
                value= "{{#if email}}{{email}}{{/if}}"
              />
            </div>
            <div class="row">
              <div class="form-outline col mb-4">
                <input
                  type="password"
                  id="passwordInput"
                  name="password"
                  class="form-control {{#if errorPassword}}is-invalid{{/if}}"
                  required
                  placeholder="Contraseña*"
                />
                {{#if errorPassword}}
                  <div class="invalid-feedback">
                    {{errorPassword}}
                  </div>
                {{/if}}
              </div>

              <div class="form-outline col mb-4">
                <input
                  type="password"
                  id="repeatPasswordInput"
                  name="repeatPassword"
                  class="form-control {{#if errorPassword}}is-invalid{{/if}}"
                  required
                  placeholder="Repite la contraseña*"
                />
              </div>
              {{#if errorPassword}}
                  <div class="invalid-feedback">
                    {{errorPassword}}
                  </div>
                {{/if}}
              </div>
              <div class="row ">
                <button
                  type="submit"
                  class="btn btn-dark col-6 btn-block mb-2"
                >Registrarse</button>
                <a href="/login" class="text-end link-primary col" style="font-size: 0.6rem;">¿Ya tienes cuenta? Inicia sesión</a>
              </div>
          </form>
        </div>
      </div>

    </div>
  </body>
</html>